<!DOCTYPE html>
<html lang="{{ htmlLang }}">
<head>
  <title>{{ cameraName }} Web-Manager</title>
  <script type="text/javascript">
    function base64DecodeUnicode(text) {
      // Going backwards: from bytestream, to percent-encoding, to original string.
      return decodeURIComponent(atob(text).split('').map(function (c) {
        return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
      }).join(''));
    }
    window.config = JSON.parse(base64DecodeUnicode('{{ archive config }}'));
    window.user = JSON.parse(base64DecodeUnicode('{{ archive user }}'));
    window.currentLanguageCode = '{{ languageCode }}';
    window.cameraName = JSON.parse(base64DecodeUnicode('{{ archive cameraName }}'));
    window.isNoBrand = JSON.parse(base64DecodeUnicode('{{ archive skuID }}')) === 'NoBrand';
    window.error = JSON.parse(base64DecodeUnicode('{{ archive error }}'));
    // Append language resource
    var isDebug = '{{ isDebug }}';
    var langRefreshId = Math.random().toString(36).substr(2);
    var langScriptElement = document.createElement("script");
    langScriptElement.type = 'text/javascript';
    langScriptElement.src = '/assets/{{ languageCode }}.js?_=' + langRefreshId;
    if (isDebug === 'y') {
      langScriptElement.src = 'http://localhost:8002/{{ languageCode }}.js?_=' + langRefreshId;
    }
    document.head.appendChild(langScriptElement);
  </script>
</head>
<body class="{{ languageCode }}">
<div id="root">
  <div class="page-loading d-flex justify-content-center align-items-center">
    <div class="spinner-container">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div class="description">
        <p class="mt-4">{{ loadingText }}</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
